<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Poetry Camera WiFi Setup</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Poetry Camera</h1>

      <!-- current connection status -->
      <div class="section">
        <div class="section-header">
          <h2>Current status</h2>
          <div id="refresh-status-button">
            <img src="{{ refresh_icon }}" width="24" height="24" />
          </div>
        </div>
        <div id="status-section">
          <div id="status-indicator">
            <img
              src="{% if internet_status == 'online' %}{{ online_icon }}{% elif internet_status == 'offline' %}{{ offline_icon }}{% else %}{{ loading_icon }}{% endif %}"
              alt="Status Icon"
            />
            <p>
              {% if internet_status == 'online' %} {{ ssid }} {% elif
              internet_status == 'offline' %} Offline {% else %} Loading... {%
              endif %}
            </p>
          </div>
        </div>
      </div>

      <!-- connect to a wifi network -->
      <div class="section">
        <div class="section-header">
          <h2>Connect to a WiFi network</h2>
        </div>
        <form id="wifi-form">
          <label for="ssid">Choose a WiFi network:</label>
          <input
            list="ssids"
            name="ssid"
            id="ssid"
            placeholder="Select or enter SSID"
            data-1p-ignore
          />
          <datalist id="ssids">
            {% for ssid in ssids_list %}
            <option value="{{ ssid }}">{% endfor %}</option>
          </datalist>

          <label for="password">Password:</label>
          <input type="password" name="password" id="password" data-1p-ignore />
          <div>
            <input type="checkbox" id="show-password" />
            <label for="show-password">Show password</label>
          </div>
          <input type="submit" value="Connect" class="button button-primary" />
        </form>
        <p id="connect-result"></p>
      </div>

      <!-- footer text -->
      <div class="section">
        <div class="section-header">
          <h2>Update footer</h2>
        </div>
        <form id="footer-form">
          <label for="footer">Footer text:</label>
          <input type="text" name="footer" id="footer" value="{{footer}}" />
          <input type="submit" value="Save" class="button button-primary" />
        </form>
        <p id="footer-result"></p>
      </div>

      <!-- version info -->
      <div id="version-info">
        <p>{{ version }}</p>
      </div>
    </div>
    <script>
      // Function to render connection status
      function renderStatus(status, ssid = "") {
        const statusIndicatorDiv = document.getElementById("status-indicator");
        let statusHtml = "";
        if (status === "online") {
          statusHtml = `<img src="{{ online_icon }}" alt="Online"><p>${ssid}</p>`;
        } else if (status === "offline") {
          statusHtml = `<img src="{{ offline_icon }}" alt="Offline"><p>Offline</p>`;
        } else {
          statusHtml = `<img src="{{ loading_icon }}" alt="Loading..."><p>Loading...</p>`;
        }
        statusIndicatorDiv.innerHTML = statusHtml;
      }

      // Function to check connection status and display at top of page
      function updateStatus() {
        const refreshButton = document.getElementById("refresh-status-button");
        refreshButton.classList.add("loading");
        refreshButton.querySelector("img").classList.add("spin");

        fetch("/status")
          .then((response) => response.json())
          .then((data) => {
            renderStatus(data.status, data.ssid);
            refreshButton.classList.remove("loading");
            refreshButton.querySelector("img").classList.remove("spin");
          })
          .catch((error) => {
            renderStatus("offline", "");
            refreshButton.classList.remove("loading");
            refreshButton.querySelector("img").classList.remove("spin");

            const statusDiv = document.getElementById("status");
            console.log("Error fetching status:", error);
          });
      }

      // Function to handle form submission
      function handleFormSubmit(event) {
        event.preventDefault();
        const form = event.target;
        const submitButton = form.querySelector("input[type='submit']");
        submitButton.value = "Connecting...";
        submitButton.classList.add("loading");
        const formData = new FormData(form);

        // if the ssid is not in the list, it's a manual connection, add manual_connect=true to the form data
        const ssidList = JSON.parse(`{{ ssids_list | tojson }}`);
        formData.append(
          "manual_connect",
          ssidList.includes(form.ssid.value) ? false : true
        );

        fetch("/submit", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            const resultDiv = document.getElementById("connect-result");
            if (data.status === "success" || data.status === "info") {
              resultDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
              renderStatus("online", data.ssid);

              // if info (scanning), trigger a status refresh
              if (data.status === "info") updateStatus();
            } else {
              resultDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
              renderStatus("offline");
            }
            submitButton.value = "Connect";
            submitButton.classList.remove("loading");
          })
          .catch((error) => {
            const resultDiv = document.getElementById("connect-result");
            resultDiv.innerHTML = `<p style="color: red;">Error: ${error.message}</p>`;
            submitButton.value = "Connect";
            submitButton.classList.remove("loading");
          });
      }

      // Function to handle form submission for footer text
      function handleFooterFormSubmit(event) {
        event.preventDefault();
        const form = event.target;
        const submitButton = form.querySelector("input[type='submit']");
        submitButton.value = "Saving...";
        submitButton.classList.add("loading");
        const formData = new FormData(form);

        fetch("/footer", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            const resultDiv = document.getElementById("footer-result");
            if (data.status === "success") {
              resultDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
            } else {
              resultDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
            }
            submitButton.value = "Save";
            submitButton.classList.remove("loading");
          })
          .catch((error) => {
            const resultDiv = document.getElementById("footer-result");
            resultDiv.innerHTML = `<p style="color: red;">Error: ${error.message}</p>`;
            submitButton.value = "Save";
            submitButton.classList.remove("loading");
          });
      }

      // call the functions when DOM is loaded
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("wifi-form");
        form.addEventListener("submit", handleFormSubmit);

        const footerForm = document.getElementById("footer-form");
        footerForm.addEventListener("submit", handleFooterFormSubmit);

        // Show/hide password toggle for password field
        document
          .getElementById("show-password")
          .addEventListener("change", function () {
            const passwordInput = document.getElementById("password");
            passwordInput.type = this.checked ? "text" : "password";
          });

        // Automatically refresh status every 10 seconds
        setInterval(updateStatus, 10000);

        // Force refresh status when you click refresh button
        document
          .getElementById("refresh-status-button")
          .addEventListener("click", updateStatus);
      });
    </script>
  </body>
</html>
